<div class="forgot-password-background">
    <div class="container mb-5 mt-5 forgot-password">
        <div class="d-flex align-items-center flex-column">
            <h4 class="mt-5">Superkickss</h4>
            <h2 class="text-center">Need help with your password?</h2>
            <p class="text-center">We will send new to your recovery email to reset your password</p>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="mt-3 mb-4">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>

                <%if (message.length>0) {%>
                <div class="col-md-12 mb-3 error">

                </div>
                <%} %>
                <div class="d-flex align-items-center mb-4">
                    <button type="submit" id="submit-email" class="form-control btn btn-primary">Send</button>
                </div>
            </div>
            <a href="/auth/login" class="mb-5">Back to login</a>
        </div>
    </div>
</div>