<div class="forgot-password-background">
    <div class="container mb-5 mt-5 forgot-password">
        <div class="d-flex align-items-center flex-column mb-5">
            <h4 class="mt-5">Superkickss</h4>
            <h2 class="text-center"><%= message%></h2>
            <a href="/auth/login">Go to login</a>
        </div>
    </div>
</div>