<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login-style/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/login-style/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-style/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/login-style/css/style.css">

    <title>login</title>
  </head>
  <body>
    <div class="auth-background">
      <div class="register container mt-5 mb-5 shadow-lg">
        <div class="row py-5">
            <div class="col-lg-6 blue">
                <div class="side-box">
                    <div class="context text-center">
                        <h3 class="pb-3 fw-bold">Already have an account?</h3>
                        <p class="pb-4">Join us now</p>
                        <a href="/auth/login">Login Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 white">
                <div class="register-box my-5 py-2">
                    <h4 class="text-uppercase text-center mb-5 fw-bold">Create an acount</h4>
                    <form id="register-form" method="post">
                        <div class="row register-form mx-auto">
                            <% if (message.length > 0) { %>
                            <div class="col-md-12 mb-3">
                              <div class="error">
                                <i class="fas fa-times-circle me-2"></i>
                                <span><%= message%></span>
                              </div>
                            </div>
                            <% } %>
                            <div class="form-group col-md-5 col-lg-12">
                                <input id="fullname" class="form-control" type="text" 
                                placeholder="Fullname" name="fullname" rules="required"/>
                                <div class="message"></div>
                            </div>
                            <div class="form-group col-md-5 col-lg-12">
                                <input id="username" class="form-control" type="text" 
                                placeholder="Username" name="username" rules="required"/>
                                <div class="message"></div>
                            </div>
                            <div class="form-group col-md-5 col-lg-12">
                                <input id="email" class="form-control" type="text" 
                                placeholder="Email" name="email" rules="required|email"/>
                                <div class="message"></div>
                            </div>
                            <div class="form-group col-md-5 col-lg-12">
                                <input id="phoneNumber" class="form-control" type="text" 
                                placeholder="Phone Number" name="phone" rules="required|min:10|max:11"/>
                                <div class="message"></div>
                            </div>
                            <div class="form-group col-md-5 col-lg-12">
                                <input id="password" class="form-control" type="password" 
                                placeholder="Password" name="password" rules="required|min:6"/>
                                <div class="message"></div>
                            </div>
                            <div class="form-group col-md-5 col-lg-12">
                                <input id="password_confirmation" class="form-control" type="password" 
                                placeholder="Confirm Password" name="confirmPassword" rules="required"/>
                                <div class="message"></div>
                            </div>
                            <div class="col-md-12 text-center login-button">
                                <button class="form-control mb-3" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    

    <script src="/login-style/js/jquery-3.3.1.min.js"></script>
    <script src="/login-style/js/popper.min.js"></script>
    <script src="/login-style/js/bootstrap.min.js"></script>
    <script src="/login-style/js/main.js"></script>
    <script src="/login-style/js/validator.js"></script>
    <script>
        Validator('#register-form');
    </script>
  </body>
</html>