<!DOCTYPE html>
<html lang="en">

<head>
    <title>SuperKickss</title>
    <%- include('./default/head')%>
</head>

<body>

    <div class="site-wrap">
        <div class="container error-content mt-5">
            <ion-icon class="sad-icon"name="sad-outline"></ion-icon>
            <h2 class="text-center">Oops!</h2>
            <h1 class="text-center"><%= error.status%> <%= error.message%></h1>
            <h5 class="text-center mb-4">Sorry, an error has occured, Requested page not found!</h5>
            <a class="text-center btn btn-primary" href="/">Take me home</a>
        </div>
    </div>

    <%- include('./default/script')%>
</body>

</html>