<div class="container">
    <div class="row mb-5">
        <div class="site-blocks-table">
            <table class="table table-bordered order-table">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Created date</th>
                        <th>Completed date</th>
                        <th>Total price</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('_show')%>
                </tbody>
            </table>
        </div>
    </div>
</div>