<div class="container d-flex flex-column align-items-center mb-5 mt-5 ">
    <ion-icon class="notification-empty-cart mb-5" name="notifications-outline"></ion-icon>
    <h2>There are no product in your cart</h2>
</div>